@font-face{
  font-family: Georgia;
  src:url("fonts/Georgia.ttf");
}

body{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 12px;
}

.top_no{
  margin-top: 0px;
}
.below_no{
  margin-bottom: 0px;
}
.below_2{
  margin-bottom: 2px;
}
.below_5{
  margin-bottom: 5px;
}
.below_10{
  margin-bottom: 10px;
}
.below_15{
  margin-bottom: 15px;
}
.login_head{
  height: 34px;
}
.login_head_item{
  width: 120px;
  height: 34px;
  display: inline-block;
}

    /*配色类*/
/*品牌色*/
.color_brand{
  color: rgb(255,51,0);
}
.color_brand_bg{
  background-color: rgb(255,51,0);
}

/*主导色*/
.color_main{
  color: rgb(255,51,51);
}
.color_main_bg{
  background-color: rgb(255,51,51);
}

/*辅色*/
.color_coach1{
  color: rgb(255,153,102);
}
.color_coach1_bg{
  background-color: rgb(255,153,102);
}

.color_coach2{
  color: rgb(255,102,51);
}
.color_coach2_bg{
  background-color: rgb(255,102,51);
}

.color_coach3{
  color: rgb(255,204,204);
}
.color_coach3_bg{
  background-color: rgb(255,204,204);
}

.color_coach4{
  color: rgb(102,204,204);
}
.color_coach4_bg{
  background-color: rgb(102,204,204);
}

.color_coach5{
  color: rgb(153,204,204);
}
.color_coach5_bg{
  background-color: rgb(153,204,204);
}

/*按钮类*/
.circle_btn1{
  background-color: rgba(255,51,0,0.7); 
  padding: 11px 26px;
       border-radius: 36px;
  -moz-border-radius:36px;
  -webkit-border-radius:36px;
  border: none;
}
.circle_btn1:visited{
  background-color: rgba(255,51,0,0.7);
  border: none;
}
.circle_btn1:hover,.circle_btn1:active,.circle_btn1:focus{
  background-color: rgba(255,51,0,0.9);
  border: none;
  position: relative;
  top: 2px;
}

/*文字不换行 溢出显示为省略号*/
.word_nowrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.teach_bg_1{
 /* width: 100%;*/
  
}

/*字体类*/
.font_s11,.font_s11_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 11px;
}

.font_s12,.font_s12_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 12px;
}

.font_s13,.font_s13_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 13px;
}

.font_s16,.font_s16_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 16px;
}

.font_s18,.font_s18_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 18px;
}
.font_s22,.font_s22_bold{
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
  font-size: 22px;
}

.font_s11_bold,.font_s12_bold,.font_s13_bold,
.font_s16_bold,.font_s18_bold,.font_s22_bold{
    font-weight: 800;
}


/*注意下面这段不可以用,合在一起,因为不同浏览器会忽略其它特定浏览器的规则,使样式失效
设置placeholder的样式*/
.holder_txt1::-webkit-input-placeholder {
  font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
    font-weight: 800;
    font-size: 16px;
    color: rgb(153,204,204);
    letter-spacing: 1px;
}
 .holder_txt1:-moz-placeholder{
    font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
    font-weight: 800;
    font-size: 16px;
    color: rgb(153,204,204);
    letter-spacing: 1px;
 }
/*火狐上会出现number类型应用此样式不一致的问题 所以注释掉此项*/
.holder_txt1::-moz-placeholder{
    /*font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
    font-weight: 200;*/
}
.holder_txt1:-ms-input-placeholder{
    font-family: "Microsoft YaHei","Trebuchet MS",Georgia,Arial,"sans-serif";
    font-weight: 800;
    font-size: 16px;
    color: rgb(153,204,204);
    letter-spacing: 1px;
}
/*placehoder 占位符样式设置 end*/

/*边框类*/
.bor_1{
  border: solid 3px rgb(255,51,51);
  height:50px;
}
.bor_1:focus{
  border-color: rgb(255,51,51);
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255,51,51, 0.6);
}
.modal-content{
    /*background-color: rgba(255,255,255,0.4);*/
}
.modal-dialog{
  margin: 12% auto;
}
.opacity_05{
         opacity:0.5;
  -moz-opacity:0.5;
  filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */
}


.tooltip-inner{
  background-color: rgb(153,204,204);
}
.tooltip-arrow{
  border-top-color: rgb(255,51,0) !important;
}

/*test页 的样式*/
.top_fixed{  
  position: fixed;
  top: 0px;
  background-color: black;
  height: 25px;
  z-index: 20;
}

.padding_no{
  padding: 0px; 
}
.padding_left1{
  padding-left: 5px;
}
.padding_left2{
  padding-left: 8px;
}
.top_title{
  display: inline;
  font-family: 微软雅黑;
  font-size: 14px;
  font-weight:500;
}

.send_attr_txt{
  font-family: 微软雅黑;
  font-size: 11px;
  font-weight: 300;
}
.money_txt{
  font-family: 黑体;
  font-size: 34px;
  font-weight: 800;
}
.color_white1{
      color: #FFFFFF;
}
.color_white2{
  background-color: #FFFFFF;
}
.color_black1{
  color: #333300 ;
}
.p_bottom1{
    margin-bottom: 2px;
}
.color_black2{
  color:  #333333; 
}

.color_black3{
  color: #000000; 
}

.color_grey1{
  color: #666666 ;
}

.img_person_lg{
  -moz-border-radius:60px;
  -webkit-border-radius:60px;
  border-radius: 60px;
  width: 45px;
  height: 45px;
}

.bottom_bar{
  position: fixed;
  min-height: 43px;
  bottom: 0px;
  background-color: #FF9800;
  text-align: center;
}

.head_img{
  position: absolute; 
  width: 100%;height:100%;  top: 0px;  left: 0px;  bottom: 0px;  right: 0px;
  background-image: url(../images/tao_5.jpg);
  background-size: cover;
       opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
          filter:blur(3px);          
  -webkit-filter: blur(3px); /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  z-index: 5;
}

.head_img_ratio1{
position: relative;
width: 100%;
padding-top: 60%;
}

.sell_pic_ratio2{
  position: relative;
  width: 100%;
  padding-top: 70%;
}

.goto_bottom{
  position: absolute;
  bottom: 0px;
  z-index: 10;
  opacity: 1;
  -moz-opacity:1;
  filter:alpha(opacity=100);
}


.img_person_sm{
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.color_yellow1{
  color: #FF9800;
}
.color_yellow2{
  background-color: #FF9800;
}
.vertical_middle{
  vertical-align:bottom;
}

.img_tags_container{
  height: 150px;
  padding-top: 0px;
  text-align: left;
  left: 0px;
  width: 100%;
}
.user_profile_row_right{
  padding-top: 22%;
}
.tags{
  font-family: 微软雅黑;
  font-size: 11px;
  font-weight: 200;
}

.font_10{
  font-family: 微软雅黑;
  font-size: 11px;
  font-weight: 300;
}

.yellow_button{  
  border-radius: 0px;
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  border-color: #FF9800;
  width: 105px;
}
.yellow_button2{
  border-radius: 0px;
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  border-color: #FF9800;
  background-color: #FF9800;
}
.yellow_button2:hover{
  background-color: rgba(204,51,0,0.5);
  border-color: rgba(204,153,51,0.8);
}
.footer_button{
  border-color: #FFffff;
  background-color: #FF9800;
  margin-top: 5px;
  margin-right: 3px;
  padding: 5px 6px;
}
.row_top_space{
  background-color:#CCCCCC;
  padding-top:10px;
}

.font_13{
  font-family: 微软雅黑;
  font-size: 14px;
  font-weight:500;
}

.the_nav_size1{
    width: 25%;
    border: 2px solid #999999;
    margin: 0px !important;
    text-align: center;
}
.the_pill_a{
  border-radius: 0px !important;
  -webkit-border-radius:0px !important;
  -moz-border-radius:0px !important;

}
.nav li.active a,.nav li.active a:hover,.nav li.active a:focus{
  background-color: #FF9800 !important;
}
.item{
  height: 180px;
}
.item_pic{
  padding: 2px 2px 0px;
  margin-bottom: 8px;
}
.masonry_con{
  margin: 0 auto;
}

.top_img{
  height: 180px;
  width: 100%;
}
.user_profile_share_look_itemimg{
  width: 146px;
  height: 100px;
}
.user_profile_share_sell_itemimg{
  width: 100%;
  min-height: 111px;
  height:100%;
}
.align_center{
  text-align: center;
}
.img_tag_margin{
  margin-bottom: 20px;
}
.font_15,.font_15_bold{
  font-family: 微软雅黑;
  font-size: 15px;
}
.font_15{
    font-weight: 300;
}
.font_15_bold{
    font-weight: 700;
}

.footer_button.btn:hover{
  background-color: rgba(204,204,153,0.5);
  border-color: rgba(204,153,51,0.8);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 
}

@media screen and (max-width: 1200px ) and (min-width: 768px){
.user_profile_row_right{
  padding-top: 16%;
}


}